<footer>
  <div class="w-full text-center mx-auto p-4 mt-5">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023
      <a href="https://flowbite.com/" class="hover:underline">Tech Blog</a>.
      <div>
        All Rights Reserved.
      </div>
    </span>
  </div>
</footer>